@import url('https://fonts.googleapis.com/css?family=Raleway');

.center{
    font-family: 'Raleway', sans-serif;
    background-color: #1abc9c;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: #fff;
    border-radius: 15px;
    padding: 0.8rem;
}

.card > form{
    display: flex;
    flex-direction: column;
}

.card h1{
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}

.form-item{
    font-family: 'Raleway', sans-serif;
    padding: 5px;
    margin-bottom: 2rem;
    height: 30px;
    width: 16rem;
    border: 1px solid grey;
}

.form-submit{
    font-family: 'Raleway', sans-serif;
    height: 35px;
    color: #fff;
    background-color: #1abc9c;
    border: none;
    letter-spacing: 0.2rem;
    transition: 0.3s opacity ease;
    cursor: pointer;
}
.form-submit:hover{
    opacity: 0.6;
}




body {
    margin: 0;
    padding: 0;
    background: lightgrey;
}
html,* {
    font-family:arial,sans-serif;
}
#app {
    height:100vh;
}

.container {
    height:100%;
}

.navigation {
    width:20%;
}
.navigation li {
    list-style: none;
    margin:15px 0;
}
.navigation li a {
    font-size:18px;
    color: #252525;
    text-decoration: none;
}
.navigation li a:hover {
    color: #2875b3;
}

.wrapper_page {
    height:100%;
    display: flex;
    flex-direction: row;
}

.content {
    width:80%;
    border-left: 3px double grey;
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
}
table {
    width: 100%;
}
table tr {
    text-align:center;
}

.add_company {
    width: 50%;
    margin: 0 auto;
    border:2px solid grey;
    margin-top:25px;
    padding:25px;
    border-radius: 8px;

}

.homepage {
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.company_logo {
    height: 60px;
    width: 60px;
}
